
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <br />
        <br />
        <br />
<p>Push this button to see the coolest thing ever!!!</p>

        <form action="Result">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
