
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
<h1>Push this button to see the coolest thing ever!!!</h1>
        <p>---Tiny demo of C# MVC project with two views---</p>
        <br />
        <br />
        <p>Form Button</p>
        <form action="/Home/Result">
            <input type="submit" value="Press Me">
        </form>
        <p>Url.Action() Button</p>
        <a href='@Url.Action("Result", "Home")'>
            <input type='button' value='Press Me' />
        </a>
    </div>
</body>
</html>
