
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div> 
        <p>HELLO WORLD</p>
        <br />
        <br />
        <br />
        @*<form action="Index">
            <input type="submit" value="Back">
        </form>*@

        <a href='@Url.Action("Index", "Home")'>
            <input type='button' value='Press Me' />
        </a>


    </div>
</body>
</html>
