
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div> 
        <h1>HELLO WORLD</h1>
        <br />
        <br />
        <br />
        <p>Form Button</p>
        <form action="/Home/Index">
            <input type="submit" value="Back-->">
        </form>
        <p>Url.Action() Button</p>
        <a href='@Url.Action("Index", "Home")'>
            <input type='button' value='Back-->' />
        </a>
    </div>
</body>
</html>
